<table>
    <thead>
        <tr>
            <h3>Cat Friends</h3>
        </tr>
    </thead>
    <% users.forEach(user => {%>
        <tr>
            <td>
                <img width="50" height="50" src="<%= user.imgUrl %>" />
                <%= user.username %>

            </td>

        </tr>
        <% }) %>
</table>