<table>
    <thead>
        <tr>
            <td>Cat Friends</td>
        </tr>
    </thead>
    <% users.forEach(cat => {%>
        <tr>
            <td>
                <img width="200" height="auto" src="<%= user.imgUrl %>" />
                <%= user.username %>

            </td>

        </tr>
        <% }) %>
</table>