<style>
    .userpic {
        height: 100px;
        object-fit: cover;
    }
</style>

<table>
    <thead>
        <tr>
            <h3>Cat Friends</h3>
        </tr>
    </thead>
    <% users.forEach(user => {%>
        <tr>
            <td>
                <img class="userpic" src="<%= user.imgUrl %>" />
                <%= user.username %>

            </td>

        </tr>
        <% }) %>
</table>