<table>
    <thead>
        <tr>
            <td>All cats</td>
        </tr>
    </thead>
    <% cats.forEach(cat => {%>
        <tr>
            <td>
                <img width="200" height="200" src="<%= cat.imgUrl %>" />
            </td>
            <td>
                <%= cat.name %>
            </td>
            <td>
                <%= cat.location %>
            </td>
            <td>
                <a href="/cat/show/<%= cat._id %>" class="btn btn-primary btn-block">View</a>

            </td>
        </tr>
        <% }) %>
</table>