<div class="container mt-3">
    <h2>New Cat</h2>

    <form action="/cat/new" method="post">
        <div>
            <label>Name</label>
            <input name="name" placeholder="Fluffy" />
        </div>
        <div>
            <label>Short Description</label>
            <input name="description" placeholder="Colour, breed, long/short tail?" />
        </div>
        <div>
            <label>Location</label>
            <input name="location" type="text" placeholder="Which neighbourhood?" />
        </div>


        <button type="submit">Submit New Cat</button>
    </form>
</div>